/* font family */
@font-face {
  font-family: 'QuicksandLight';
  src: url('../font/Quicksand-Light.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandReguler';
  src: url('../font/Quicksand-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandMedium';
  src: url('../font/Quicksand-Medium.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandSemiBold';
  src: url('../font/Quicksand-SemiBold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuickBold';
  src: url('../font/Quicksand-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'QuicksandSemiBold', sans-serif;
  color: #3d3d3d;
  font-size: 14px;
}

.p-popup {
  font-family: 'QuicksandMedium', sans-serif;
  font-size: 15px;
  color: #3d3d3d;
}

.paragraph-hidden {
  display: none;
}

nav {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
  backdrop-filter: blur(4px);
  box-shadow: 0 .5px 20px -2px rgba(30, 144, 255, .1);
  /* border: 1px solid #333; */
}

nav.active {
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(0px);
}

body.active {
  overflow: hidden;
}

nav > .container {
  height: 50px;
  /* border: 1px solid #333; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > .container > .left-menu,
nav > .container > .right-menu {
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  /* border: 1px solid #333; */
}

nav > .container > .right-menu > p {
  margin: 0 !important;
}

nav > .container > .right-menu > .button {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav > .container > .right-menu > .button > .btn-signin,
nav > .container > .right-menu > .button > .btn-signup {
  min-width: 80px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'QuickBold', sans-serif;
  font-size: 13px;
}

nav > .container > .right-menu > .button > .btn-signin,
.mobile-navbar > .button > .btn-signin {
  background-color: #FAE455;
  border: 1px solid #FAE455;
  color: #3f3f46;
}

nav > .container > .right-menu > .button > .btn-signup,
.mobile-navbar > .button > .btn-signup {
  background-color: #F44E3F;
  border: 1px solid #F44E3F;
  color: #fff;
}

nav > .container > .right-menu > .button > .btn-signin:hover,
.mobile-navbar > .button > .btn-signin:hover,
.jumbotron > .description > .lets-choose:hover,
.candidate-contents > .container > .candidate > .right > .more:hover,
.candidate-contents > .container > .candidate > .right > .main-more:hover,
.signin-contents > .signin > .middle > .btn-signin:hover,
.candidate-list-contents > .candidate-card > .description > .bottom > .btn-more:hover,
.candidate-details-contents > .top > .left > .mission > .btn-choose:hover {
  background-color: #fce763;
}

nav > .container > .right-menu > .button > .btn-signup:hover,
.mobile-navbar > .button > .btn-signup:hover,
.register-contents > .register > .middle > .register-btn:hover {
  background-color: #f65547;
}

nav > .container > .left-menu > .beranda,
nav > .container > .left-menu > .candidate-list,
nav > .container > .left-menu > .about {
  height: 100%;
  /* border: 1px solid #333; */
  display: flex;
  align-items: center;
}

nav > .container > .left-menu > .beranda > a,  
nav > .container > .left-menu > .candidate-list > a, 
nav > .container > .left-menu > .about > a,
.mobile-navbar > .candidate-list > a,
.mobile-navbar > .about > a,
nav > .container > .right-menu > p {
  text-decoration: none;
  color: #3f3f46;
  font-size: 14px;
  font-family: 'QuickBold', sans-serif;
}

nav > .container > .right-menu > .hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  /* border: 1px solid #333; */
  cursor: pointer;
}

nav > .container > .right-menu > .hamburger > span {
  width: 20px;
  height: 2px;
  display: block;
  background-color: #3f3f46;
}

nav > .container > .right-menu > .dropdown {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 2;
}

nav > .container > .right-menu > .dropdown > .profile {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  pointer-events: auto;
}

nav > .container > .right-menu > .dropdown > .profile.pointer-events {
  pointer-events: none;
}

nav > .container > .right-menu > .dropdown > .profile > img {
  width: 35px;
  border-radius: 50%;
  margin: 0 !important;
  padding: 1px;
  border: 2px solid #11c5c6;
}

nav > .container > .right-menu > .dropdown > .menu {
  position: absolute;
  border: 1px solid #ced4da;
  min-width: 120px;
  /* min-height: 100px; */
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  transition: .5s;
  z-index: 1;
  background-color: #fff;
  opacity: 0;
}

nav > .container > .right-menu > .dropdown > .menu > a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  color: #3d3d3d;
  font-family: 'QuickBold', sans-serif;
}

nav > .container > .right-menu > .dropdown > .menu > a:first-child {
  padding-bottom: 5px;
}

nav > .container > .right-menu > .dropdown > .menu > a:last-child {
  padding-top: 5px;
  color: #f43f5e;
}

nav > .container > .right-menu > .dropdown > .menu > a:hover {
  background-color: #f9f9f9;
}

nav > .container > .right-menu > .dropdown > .profile > .bi-chevron-down {
  transition: .5s;
}

nav > .container > .right-menu > .dropdown > .profile:hover > .bi-chevron-down,
nav > .container > .right-menu > .dropdown > .profile.active > .bi-chevron-down {
  transform: rotate(180deg);
}

nav > .container > .right-menu > .dropdown > .profile:hover ~ .menu,
nav > .container > .right-menu > .dropdown > .menu:hover {
  margin-top: 40px;
  visibility: visible;
  opacity: 1;
}

@keyframes navbarSmoothActive {
  0% {
    left: -100vw;
    right: 100vw;
  } 100% {
    left: 0vw;
    right: 0vw;
  }
}

@keyframes navbarSmooth {
  0% {
    left: 0vw;
    right: 0vw;
  } 100% {
    left: -100vw;
    right: 100vw;
  }
}

.mobile-navbar {
  position: fixed;
  z-index: 9;
  top: 50px;
  bottom: 0;
  background-color: #fff;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  animation: navbarSmooth .5s ease alternate forwards;
}

.mobile-navbar.active {
  animation: navbarSmoothActive .5s ease alternate forwards;
}

.mobile-navbar > .button {
  width: 100%;
  display: flex;
  gap: 10px;
}

.mobile-navbar > .button > .btn-signin,
.mobile-navbar > .button > .btn-signup {
  flex: 1;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: 'QuicksandBold', sans-serif;
  text-decoration: none;
  border-radius: 5px;
}

/* jumbotron */
.jumbotron {
  min-height: 200px;
  /* border: 1px solid #333; */
  margin-top: 60px;
  margin-bottom: 50px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.jumbotron > .description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 40%;
}

.jumbotron > .description:nth-child(3) {
  display: none;
}

.jumbotron > .description > p {
  font-size: 14px;
  font-family: 'QuicksandMedium', sans-serif;
  color: #3d3d3d;
  margin: 0 !important;
}

.jumbotron > .description > h3 {
  margin: 0 !important;
  color: #3d3d3d;
  font-family: 'QuicksandMedium', sans-serif;
}

.jumbotron > .description > .lets-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  font-size: 13px;
  font-family: 'QuickBold', sans-serif;
  max-width: 120px;
  color: #3d3d3d;
  text-align: center;
  text-decoration: none;
  background-color: #FAE455;
  border-radius: 5px;
}

.jumbotron > img {
  max-width: 35%;
}

.candidate-contents {
  width: 100%;
  background-color: #f7f7f7;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.candidate-contents > .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid #333; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.candidate-contents > .container > .pagination {
  width: 100%;
  height: 50px;
  /* border: 1px solid #333; */
  display: flex;
  gap: 7px;
  align-items: center;
}

.candidate-contents > .container > .pagination > .circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .1px solid #ced3da;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.candidate-contents > .container > .pagination > .circle:hover {
  background-color: #f9f9f9;
}

.candidate-contents > .container > .pagination > .circle > .bi-arrow-left,
.candidate-contents > .container > .pagination > .circle > .bi-arrow-right {
  color: #3f3f46;
  font-size: 14px;
  margin: 0;
  
}

.candidate-contents > .container > .candidate {
  width: 100%;
  /* border: 1px solid #333; */
  display: flex;
  gap: 50px;
}

.candidate-contents > .container > .candidate > .left,
.candidate-contents > .container > .candidate > .right {
  width: 50%;
  /* border: 1px solid #333; */
}

.candidate-contents > .container > .candidate > .left {
  overflow: hidden;
  display: flex;
  gap: 10px;
  scroll-behavior: smooth;
}

.candidate-contents > .container > .candidate > .left > .card {
  min-width: 180px;
  max-width: 180px;
  border: 1px solid #ced4da;
  /* border: 1px solid red; */
  max-height: 410px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.candidate-contents > .container > .candidate > .left > .card > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}

.candidate-contents > .container > .candidate > .left > .card > img {
  width: 100%;
}

.candidate-contents > .container > .candidate > .left > .card > .description {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ced4da
}

.candidate-contents > .container > .candidate > .left > .card > .description > .top,
.candidate-list-contents > .candidate-card > .description > .top {
  border-bottom: .1px solid #ced4da;
  padding-bottom: 10px;
}

.candidate-contents > .container > .candidate > .left > .card > .description > .top,
.candidate-contents > .container > .candidate > .left > .card > .description > .bottom,
.candidate-list-contents > .candidate-card > .description > .top,
.candidate-list-contents > .candidate-card > .description > .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.candidate-contents > .container > .candidate > .left > .card > .description > .bottom,
.candidate-list-contents > .candidate-card > .description > .bottom {
  padding-top: 10px;
}

.candidate-contents > .container > .candidate > .left > .card > .description > .top > p,
.candidate-contents > .container > .candidate > .left > .card > .description > .bottom > p,
.candidate-contents > .container > .candidate > .right > .vision > p,
.candidate-contents > .container > .candidate > .right > .mission > p,
.footer > .box:nth-child(1) > p,
.footer > .box:nth-child(2) .contacts > p,
.candidate-list-contents > .candidate-card > .description > .top > p,
.candidate-list-contents > .candidate-card > .description > .bottom > p,
.candidate-details-contents > .top > .right > .description > .list > p,
.candidate-details-contents > .top > .left > .vision > ol > li,
.candidate-details-contents > .top > .left > .mission > p,
.candidate-details-contents > .top > .left > .vision p {
  color: #3d3d3d;
  font-size: 14px;
  font-family: 'QuicksandMedium', sans-serif;
  margin: 0 !important;
}

.candidate-contents > .container > .candidate > .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.candidate-contents > .container > .candidate > .right > .vision,
.candidate-contents > .container > .candidate > .right > .mission {
  width: 100%;
  /* min-height: 100px; */
  /* border: 1px solid #333; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.candidate-contents > .container > .candidate > .right > .vision > h3,
.candidate-contents > .container > .candidate > .right > .mission > h3,
.candidate-details-contents > .top > .left > .vision > h3,
.candidate-details-contents > .top > .left > .mission > h3 {
  font-size: 22px;
  font-family: 'QuicksandMedium', sans-serif;
  color: #3d3d3d;
  margin-bottom: 0;
}

.candidate-contents > .container > .candidate > .right > .more,
.candidate-contents > .container > .candidate > .right > .main-more,
.candidate-list-contents > .candidate-card > .description > .bottom > .btn-more {
  height: 35px;
  max-width: 90px;
  border: 1px solid #FAE455;
  background-color: #FAE455;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'QuickBold', sans-serif;
  color: #3d3d3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.candidate-contents > .container > .candidate > .right > .main-more {
  text-decoration: none;
}

.candidate-list-contents > .candidate-card > .description > .bottom > .btn-more {
  font-size: 13px;
  height: 30px;
  text-decoration: none;
  width: 100%;
  max-width: 100%;
}

.hidden {
  display: none;
}

/* signin */
/* register */
.signin-contents,
.register-contents {
  margin-top: 60px;
  /* border: 1px solid #333; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.signin-contents > .signin,
.register-contents > .register {
  width: 370px;
  /* min-height: 400px; */
  border: 1px solid #ced4da;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.signin-contents > .signin > .top,
.register-contents > .register > .top {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ced4da;
  display: flex;
  align-items: center;
  padding: 20px 30px;
}

.signin-contents > .signin > .top > h4,
.register-contents > .register > .top > h4 {
  margin: 0;
  font-size: 15px;
  color: #3d3d3d;
  font-family: 'QuickBold', sans-serif;
}

.signin-contents > .signin > .middle,
.register-contents > .register > .middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
  border-bottom: 1px solid #ced4da;
}

.signin-contents > .signin > .middle > .password > input,
.register-contents > .register > .middle > .password > input {
  flex: 1;
}

.signin-contents > .signin > .middle > input,
.signin-contents > .signin > .middle > .password > input,
.register-contents > .register > .middle > input,
.register-contents > .register > .middle > .password > input {
  height: 35px !important;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'QuicksandMedium', sans-serif;
  border: 1px solid #ced4da;
}

.signin-contents > .signin > .middle > .password > input,
.register-contents > .register > .middle > .password > input {
  border-radius: 5px 0 0 5px;
}

.signin-contents > .signin > .middle > input::placeholder,
.signin-contents > .signin > .middle > .password > input::placeholder,
.register-contents > .register > .middle > .password > input::placeholder {
  font-size: 14px;
  font-family: 'QuicksandMedium', sans-serif;
}

.signin-contents > .signin > .middle > .password,
.register-contents > .register > .middle > .password {
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid #333; */
}

.signin-contents > .signin > .middle > .password > .show,
.register-contents > .register > .middle > .password > .show {
  width: 35px;
  height: 35px;
  border: 1px solid #ced4da;
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-contents > .signin > .middle > .password > .show > .bi-eye-slash,
.signin-contents > .signin > .middle > .password > .show > .bi-eye,
.register-contents > .register > .middle > .password > .show > .bi-eye-slash,
.register-contents > .register > .middle > .password > .show > .bi-eye {
  color: #3d3d3d;
}

.signin-contents > .signin > .middle > .password > .show > .bi-eye-slash,
.signin-contents > .signin > .middle > .password > .show.active > .bi-eye,
.register-contents > .register > .middle > .password > .show > .bi-eye-slash,
.register-contents > .register > .middle > .password > .show.active > .bi-eye {
  display: flex;
}

.signin-contents > .signin > .middle > .password > .show.active > .bi-eye-slash,
.signin-contents > .signin > .middle > .password > .show > .bi-eye,
.register-contents > .register > .middle > .password > .show.active > .bi-eye-slash,
.register-contents > .register > .middle > .password > .show > .bi-eye {
  display: none;
}

.signin-contents > .signin > .middle > .password > .show:hover,
.register-contents > .register > .middle > .password > .show:hover {
  background-color: #f9f9f9;
}

.signin-contents > .signin > .middle > a,
.signin-contents > .signin > .middle > p,
.register-contents > .register > .middle > p {
  font-size: 12px;
  font-family: 'QuicksandSemiBold', sans-serif;
  text-decoration: none;
  text-align: right;
}

.signin-contents > .signin > .middle > p,
.register-contents > .register > .middle > p {
  text-align: left;
  font-family: 'QuicksandMedium', sans-serif;
  color: #3d3d3d;
  margin: 0 !important;
}

.signin-contents > .signin > .middle > p > a,
.register-contents > .register > .middle > p > a {
  font-family: 'QuicksandSemiBold', sans-serif;
  text-decoration: none;
}

.signin-contents > .signin > .middle > .btn-signin {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'QuickBold', sans-serif;
  color: #3d3d3d;
  background-color: #FAE455;
  border: 1px solid #FAE455;
  border-radius: 5px;
}

.signin-contents > .signin > .bottom,
.register-contents > .register > .bottom {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-contents > .signin > .bottom > p,
.register-contents > .register > .bottom > p {
  margin: 0 !important;
  font-size: 12px;
  font-family: 'QuicksandMedium', sans-serif;
  color: #3d3d3d;
  text-align: center;
}

.register-contents > .register > .middle > .register-btn {
  width: 100%;
  height: 35px;
  border: 1px solid #F44E3F;
  background-color: #F44E3F;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'QuickBold', sans-serif;
  color: #fff;
  border-radius: 5px;
}

/* candidate-list */
.candidate-list-contents {
  min-height: 300px;
  /* border: 1px solid #ced3da; */
  margin-top: 60px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
}

.candidate-list-contents > .candidate-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ced4da;
}

.candidate-list-contents > .candidate-card > img {
  width: 100%;
}

.candidate-list-contents > .candidate-card > .description {
  width: 100%;
  /* min-height: 100px; */
  border-top: 1px solid #ced4da;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* about */
.about-contents {
  margin-top: 60px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* min-height: 400px; */
  /* border: 1px solid #333; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-contents > .top {
  width: 100%;
  display: flex;
  gap: 10px;
}

.about-contents > .bottom {
  width: 100%;
  min-height: 200px;
  border: .1px solid #ced4da;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
}

.about-contents > .top > .left {
  flex: 1;
  border: .1px solid #ced4da;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
}

.about-contents > .top > .left > h4,
.about-contents > .top > .right > h4,
.about-contents > .bottom > h4 {
  font-family: 'QuicksandMedium', sans-serif;
  color: #3d3d3d;
  text-align: center;
}

.about-contents > .top > .left > ol > li,
.about-contents > .top > .right > p,
.about-contents > .bottom > ol > li {
  font-size: 14px;
  color: #3d3d3d;
  font-family: 'QuicksandMedium', sans-serif;
}

.about-contents > .top > .right > p {
  margin: 0 !important;
}

.about-contents > .top > .right {
  width: 600px;
  min-height: 200px;
  border: .1px solid #ced4da;
  border-radius: 5px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* candidate-details */
.candidate-details-contents {
  margin-top: 60px;
  /* border: 1px solid #ced4da; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.candidate-details-contents > .top {
  width: 100%;
  display: flex;
  gap: 10px;
}

.candidate-details-contents > .top > .left {
  width: 75%;
  /* min-height: 600px; */
  border: 1px solid #ced4da;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.candidate-details-contents > .top > .left > .vision {
  width: 100%;
  min-height: 100px;
  /* border: 1px solid #ced4da; */
  padding: 20px 30px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.candidate-details-contents > .top > .left > .mission {
  width: 100%;
  min-height: 100px;
  /* border: 1px solid #ced4da; */
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.candidate-details-contents > .top > .left > .vision > h3,
.candidate-details-contents > .top > .left > .mission > h3 {
  text-align: center;
}

.candidate-details-contents > .top > .left > .mission > .btn-choose {
 
  max-width: 80px;
  height: 35px;
  border: 1px solid #FAE455;
  background-color: #FAE455;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'QuickBold', sans-serif;
  color: #3d3d3d;
  border-radius: 5px;
}

.candidate-details-contents > .top > .left > .mission > .btn-choose.active {
  cursor: not-allowed;
  max-width: 200px;
}

.candidate-details-contents > .top > .left > .mission > .btn-choose.active:hover {
  background-color: #FAE455;
}

.candidate-details-contents > .top > .right {
  flex: 1;
  border: 1px solid #ced3da;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  max-height: 500px;
}

.candidate-details-contents > .top > .right:first-child {
  display: none;
}

.candidate-details-contents > .top > .right > img {
  width: 100%;
}

.candidate-details-contents > .top > .right > .description {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ced3da; */
}

.candidate-details-contents > .top > .right > .description > .list {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ced4da;
}

.candidate-details-contents > .top > .right > .description > .list:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.swal2-title {
  font-family: 'QuicksandSemiBold', sans-serif;
}

.swal2-styled.swal2-confirm {
  color: #fff !important;
}

/* my-profile */
.my-profile-contents {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  min-height: 200px;
  /* border: 1px solid #333; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-profile-contents > .top {
  width: 100%;
  /* min-height: 150px; */
  border: 1px solid #ced4da;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  align-items: center;
}

.my-profile-contents > .top > .left {
  min-height: 120px;
  min-width: 45%;
  display: flex;
  gap: 20px;
  border-right: 1px solid #ced4da;
  align-items: center;
}

.my-profile-contents > .top > .right {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.my-profile-contents > .top > .left > img {
  border-radius: 50%;
  padding: 1px;
  border: 2px solid #11c5c6;
}

.my-profile-contents > .top > .left > .description,
.my-profile-contents > .top > .right > .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-profile-contents > .top > .left > .description > p,
.my-profile-contents > .top > .right > .description > p,
.my-profile-contents > .bottom > .left > p,
.my-profile-contents > .bottom > .right > p {
  font-size: 14px;
  font-family: 'QuicksandMedium', sans-serif;
  margin: 0 !important;
  color: #3d3d3d;
}

.my-profile-contents > .bottom {
  display: flex;
  gap: 10px;
}
 
.my-profile-contents > .bottom > .left {
  width: 50%;
  min-height: 150px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.my-profile-contents > .bottom > .left > h5,
.my-profile-contents > .bottom > .right > h5  {
  font-family: 'QuicksandMedium', sans-serif;
  color: #C02424;
  margin-bottom: 10px;
}

.my-profile-contents > .bottom > .right > p.bold {
  font-family: 'QuickBold', sans-serif;
}

.my-profile-contents > .bottom > .right > p:nth-child(3) {
  margin-bottom: 10px !important;
  /* color: #C02424; */
}

.my-profile-contents > .bottom > .right {
  width: 50%;
  min-height: 150px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* footer */
.footer {
  min-height: 200px;
  /* border: 1px solid #333; */
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 50px;
}

.footer > .box:nth-child(1),
.footer > .box:nth-child(2) {
  /* border: 1px solid #333; */
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer > .box:nth-child(2) > .contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer > .box:nth-child(1) > img {
  width: 70px;
}

.footer > .box:nth-child(1) > .social-media {
  display: flex;
  gap: 20px;
  align-items: center;
  /* border: 1px solid #333; */
}

.footer > .box:nth-child(1) > .social-media > a > .bi-facebook,
.footer > .box:nth-child(1) > .social-media > a > .bi-instagram,
.footer > .box:nth-child(1) > .social-media > a > .bi-twitter,
.footer > .box:nth-child(1) > .social-media > a > .bi-youtube {
  color: #3d3d3d;
  font-size: 25px;
}

.footer > .box:nth-child(2) > h4 {
  color: #3d3d3d;
  font-size: 20px;
  margin-bottom: 0;
  font-family: 'QuicksandMedium', sans-serif;
}

.footer-text {
  font-size: 15px;
  font-family: 'QuicksandSemiBold', sans-serif;
  text-decoration: none;
}

.paragraf-text,
.caption {
  margin: 0 !important;
  font-family: 'QuicksandReguler', sans-serif;
}

/* responsive */
@media screen and (max-width: 1200px) {
  .about-contents > .top > .right {
    width: 590px;
  }

  .candidate-list-contents {
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
  }
}


@media screen and (max-width: 992px) {
  .jumbotron > img {
    max-width: 40%;
  }

  .about-contents > .top {
    flex-direction: column;
  }

  .about-contents > .top > .right,
  .about-contents > .top > .left {
    width: 100%;
    min-height: 200px;
  }

  .candidate-list-contents {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron > img {
    max-width: 45%;
  }

  .candidate-list-contents {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .candidate-details-contents > .top > .left {
    width: 60%;
  }
}

@media screen and (max-width: 576px) {
  nav > .container > .left-menu > .candidate-list,
  nav > .container > .left-menu > .about,
  nav > .container > .right-menu > .button,
  .jumbotron > .description:nth-child(1),
  nav > .container > .right-menu > p,
  .candidate-details-contents > .top > .right:last-child {
    display: none;
  }

  nav > .container > .right-menu > .hamburger,
  .mobile-navbar,
  .jumbotron > .description:nth-child(3),
  .candidate-details-contents > .top > .right:first-child {
    display: flex;
  }

  .jumbotron {
    flex-direction: column;
    gap: 30px;
  }

  .jumbotron > .description,
  .jumbotron > img {
    width: 100%;
    max-width: 100%;
  }

  .candidate-contents > .container > .candidate {
    flex-direction: column;
  }

  .candidate-contents > .container > .candidate > .left,
  .candidate-contents > .container > .candidate > .right {
    width: 100%;
  }

  .candidate-list-contents {
    grid-template-columns: repeat(2, 180px);
    justify-content: center;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer > .box:nth-child(1) {
    align-items: center;
  }

  .footer > .box:nth-child(1),
  .footer > .box:nth-child(2) {
    text-align: center;
  }

  .candidate-details-contents > .top {
    flex-direction: column;
  }

  .candidate-details-contents > .top > .left {
    width: 100%;
  }

  .candidate-details-contents > .top > .right {
    width: 100%;
    min-height: 300px;
  }

  .candidate-details-contents > .top > .right {
    max-height: 900px;
  }

  .candidate-details-contents > .top > .left > .vision,
  .candidate-details-contents > .top > .left > .mission {
    padding: 10px;
  }

  .my-profile-contents > .bottom,
  .my-profile-contents > .top {
    flex-direction: column;
  }

  .my-profile-contents > .top {
    align-items: flex-start;
    gap: 20px;
  }

  .my-profile-contents > .bottom > .left,
  .my-profile-contents > .bottom > .right {
    width: 100%;
  }

  .my-profile-contents > .top > .left {
    border-right: none;
    width: 100%;
  }

  .my-profile-contents > .top > .right {
    border-top: 1px solid #ced4da;
    padding-left: 0;
    padding-top: 20px;
    width: 100%;
  } 
}

@media screen and (max-width: 380px) {
  .signin-contents > .signin {
    width: 100%;
  }

  .candidate-list-contents {
    grid-template-columns: repeat(2, 1fr);
  }
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 2px;
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}